body{
    text-align:center;
    background-color: #d1cdcd;
}

h1 {
    color:#f2190a;
}

h2 {
    color:#06911b;
}

p {
    color:#000000;
}

a {
    color:#1207e0;
}

table {
    border-collapse: collapse;
}

table th, table td {
    padding: 5px;
}