<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>To do list edit user</title>
</head>
<body>
<h1>Edit user</h1>

<form th:action="@{/users/update}" method="post">
    <input type="hidden" name="id" th:value="${user.id}">
    <input type="hidden" name="userEdit" value="1">
    <div><label> Name : <input type="text" name="name" th:value="${user.name}"> </label></div>
    <div><label> Last Name : <input type="text" name="lastName" th:value="${user.lastName}"> </label></div>
    <div><label> Gender : <br>
        <span th:if="${user.gender} == 'male'">
            <input type="radio" name="gender" value="male" checked> Male<br>
            <input type="radio" name="gender" value="female"> Female
        </span>
        <span th:if="${user.gender} == 'female'">
            <input type="radio" name="gender" value="male"> Male<br>
            <input type="radio" name="gender" value="female" checked> Female
        </span>
    </label></div>

    <span sec:authorize="hasAuthority('ADMIN')">
        <span th:if="${role_changeable}">
            <div><label> Role : <br>
                <span th:if="${role_admin}">
                    <input type="radio" name="userRole" value="admin" checked> Admin<br>
                    <input type="radio" name="userRole" value="moder" > Moder<br>
                    <input type="radio" name="userRole" value="user" > User<br>
                </span>
                <span th:if="${role_moder}">
                    <input type="radio" name="userRole" value="admin" > Admin<br>
                    <input type="radio" name="userRole" value="moder" checked> Moder<br>
                    <input type="radio" name="userRole" value="user" > User<br>
                </span>
                <span th:if="${role_user}">
                    <input type="radio" name="userRole" value="admin" > Admin<br>
                    <input type="radio" name="userRole" value="moder" > Moder<br>
                    <input type="radio" name="userRole" value="user" checked> User<br>
                </span>
            </label></div>
        </span>
    </span>

    <div><label> Company : <input type="text" name="company" th:value="${user.company}"> </label></div>
    <div><label> Birth Date : <input type="date" name="birthDate" th:value="${user.birthDate}"> </label></div>
    <div><label> Address : <input type="text" name="address" th:value="${user.address}"> </label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <div><input type="submit" value="Submit"></div>
</form>
</body>
</html>