<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>To do list edit profile</title>
</head>
<body>
<p>Edit profile</p>
<form action="/users/update" method="post">
    <input type="hidden" name="id" value="{{#user}}{{id}}{{/user}}" />
    <input type="text" hidden="username" value="{{#user}}{{username}}{{/user}}" />
    <div><label> Password : <input type="password" name="password" value="{{#user}}{{password}}{{/user}}" /> </label></div>
    <div><label> Name : <input type="text" name="name" value="{{#user}}{{name}}{{/user}}" /> </label></div>
    <div><label> Last Name : <input type="text" name="lastName" value="{{#user}}{{lastName}}{{/user}}" /> </label></div>
    <div><label> Gender : <br>
        {{#gender}}
            <input type="radio" name="gender" value="male" > Male<br>
            <input type="radio" name="gender" value="female" checked> Female
        {{/gender}}
        {{^gender}}
            <input type="radio" name="gender" value="male" checked> Male<br>
            <input type="radio" name="gender" value="female"> Female
        {{/gender}}
    </label></div>
    <div><label> Company : <input type="text" name="company" value="{{#user}}{{company}}{{/user}}" /> </label></div>
    <div><label> Birth Date : <input type="date" name="birthDate" value="{{#user}}{{birthDate}}{{/user}}" /> </label></div>
    <div><label> Address : <input type="text" name="address" value="{{#user}}{{address}}{{/user}}" /> </label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <div><input type="submit" value="Submit"/></div>
</form>
</body>
</html>