<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>To do list application greetings</title>
</head>
<body>
<h1>Hello, user!</h1>
<a href="/index">Main page</a>
</body>
</html>