<!DOCTYPE html>

<html>
<head>
    <title>To do list application main page</title>
</head>
<body>
<h1>To do list application</h1>
<p>Welcome!</p>
<p>Commands:</p>
<p>/api/users/(table, add, update, delete)</p>
<p>/api/tasks/(table, add, update, delete, done)</p>
<p>/api/visits</p>
<form action="/logout" method="get">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>