<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>To do list application main page</title>
</head>
<body>
    <h1>To do list application</h1>
    <h2> Welcome, <span th:text="${username}"></span>!</h2>
    <p>Actions:</p>
        <a th:href="@{/users/table}">Show users</a><br><br>
        <a th:href="@{/tasks/table}">Show tasks</a><br><br>
        <a th:href="@{/edit/profile}">Edit profile</a><br><br>
        <a th:href="@{/add/task}">Add task</a><br><br>
        <form th:action="@{/logout}" method="get">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="submit" value="Sign Out"/>
        </form>
</body>
</html>