<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>To do list login</title>
</head>
<body>
<h1>Login page</h1>
<form th:action="@{/login}" method="post">
    <div th:if="${param.error}">
        <div class="alert alert-danger">
            Invalid username or password.
        </div>
    </div>
    <div><label> User Name : <input type="text" name="username"> </label></div>
    <div><label> Password: <input type="password" name="password"> </label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <div><input type="submit" value="Sign In"/></div>
</form>
<br>
<a href="/registration">Add new user</a>
</body>
</html>