<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>To do list registration</title>
</head>
<body>
<h1>Registration</h1>
<div th:if="${message}">
    <div class="alert alert-danger">
        <p th:text="${message}"></p>
    </div>
</div>
<form th:action="@{/users/add}" method="post">
    <div><label> User Name : <input type="text" name="username" required> </label></div><br>
    <div><label> Password: <input type="password" name="password" required> </label></div><br>
    <div><label> Name : <input type="text" name="name"> </label></div><br>
    <div><label> Last Name : <input type="text" name="lastName"> </label></div><br>
    <div><label> Gender : <br>
        <input type="radio" name="gender" value="male" checked> Male<br>
        <input type="radio" name="gender" value="female"> Female
    </label></div><br>
    <div><label> Company : <input type="text" name="company"> </label></div><br>
    <div><label> Birth Date : <input type="date" name="birthDate"> </label></div><br>
    <div><label> Address : <input type="text" name="address"> </label></div><br>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" >
    <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>