<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>To do list users</title>
</head>
<body>
<table border="1">
    <caption>Users</caption>
    <th>Id</th>
    <th>Username</th>
    <th>Name</th>
    <th>Last name</th>
    <th>Gender</th>
    <th>Company</th>
    <th>Birth date</th>
    <th>Address</th>
    <th>Role</th>
    <span sec:authorize="hasAuthority('MODER')">
        <th></th>
    </span>
    <span sec:authorize="hasAuthority('ADMIN')">
        <th></th>
        <th></th>
    </span>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">id</td>
        <td th:text="${user.username}">Name</td>
        <td th:text="${user.name}">Name</td>
        <td th:text="${user.lastName}">Last name</td>
        <td th:text="${user.gender}">Gender</td>
        <td th:text="${user.company}">Company</td>
        <td th:text="${user.birthDate}">Birth date</td>
        <td th:text="${user.address}">Address</td>
        <td th:text="${user.roles}">Role</td>
        <span sec:authorize="hasAuthority('MODER')">
            <td><form th:action="@{/edit/user}" method="get">
                <input name="id" type="hidden" th:value="${user.id}">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                <div><input type="submit" value="edit" /></div>
            </form></td>
        </span>
        <span sec:authorize="hasAuthority('ADMIN')">
            <td><form th:action="@{/edit/user}" method="get">
                <input name="id" type="hidden" th:value="${user.id}">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                <div><input type="submit" value="edit" /></div>
            </form></td>
            <td><form th:action="@{/users/delete}" method="post">
                <input name="id" type="hidden" th:value="${user.id}">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                <div><input type="submit" value="delete" /></div>
            </form></td>
        </span>
    </tr>
</table>
<br>
<a href="/index">Back to main page</a>
</body>
</html>