<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>To do list users</title>
</head>
<body>
{{#message}}
    <p>{{message}}</p>
{{/message}}
{{^message}}
<table border="1">
    <caption>Tasks</caption>
    <th>Id</th>
    <th>Name</th>
    <th>Description</th>
    <th>Received date</th>
    <th>To be done</th>
    <th>Done</th>
    <ul>
        {{#tasks}}
            {{#.}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                    <td>{{description}}</td>
                    <td>{{receivedDate}}</td>
                    <td>{{toBeDone}}</td>
                    <td>{{done}}</td>
                </tr>
            {{/.}}
        {{/tasks}}
    </ul>
</table>
<br>
{{/message}}

<a href="/index">Back to main page</a>
</body>
</html>