<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>To do list users</title>
</head>
<body>
<table border="1">
    <caption>Users</caption>
    <th>Id</th>
    <th>Name</th>
    <th>Last name</th>
    <th>Gender</th>
    <th>Company</th>
    <th>Birth date</th>
    <th>Address</th>
    {{#role_moder}}
        <th></th>
    {{/role_moder}}
    {{#role_admin}}
        <th></th>
        <th></th>
    {{/role_admin}}
    <ul>
        {{#users}}
            {{#.}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                    <td>{{lastName}}</td>
                    <td>{{gender}}</td>
                    <td>{{company}}</td>
                    <td>{{birthDate}}</td>
                    <td>{{address}}</td>
                    {{#role_moder}}
                        <td><form action="/edit/user" method="get">
                            <input name="id" type="hidden" value={{id}} />
                            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                            <div><input type="submit" value="edit" /></div>
                        </form></td>
                    {{/role_moder}}
                    {{#role_admin}}
                        <td><form action="/edit/user" method="get">
                            <input name="id" type="hidden" value={{id}} />
                            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                            <div><input type="submit" value="edit" /></div>
                        </form></td>
                        <td><form action="/users/delete" method="post">
                            <input name="id" type="hidden" value={{id}} />
                            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                            <div><input type="submit" value="delete" /></div>
                        </form></td>
                    {{/role_admin}}
                </tr>
            {{/.}}
        {{/users}}
    </ul>
</table>
<br>
<a href="/index">Back to main page</a>
</body>
</html>